<div class="orders-container">
    <mat-card class="orders-list">
        <mat-card-title>Pending Orders</mat-card-title> 
        <!-- Table Header -->
        <div class="list-header">
            <span class="header-item">Address</span>
            <span class="header-item">BO</span>
            <span class="header-item">BR</span>
            <span class="header-item">ST</span>
            <span class="header-item">R</span>
            <span class="header-item">TP</span>
            <span class="header-item">{{isMobile?'D':'Done'}}</span>
        </div>     
        <mat-list *ngIf="pendingOrders.length > 0; else noOrders">
            <mat-list-item *ngFor="let order of pendingOrders">
              <div [ngStyle]="{ 'background-color': getUrgencyColor(order.urgencyFlag) }" class="order-details">
                  <span class="address">{{ order.address }}</span>
                  <span class="bottles">{{ order.noOfBottles }}</span>
                  <span class="bottles-return">
                      <input [(ngModel)]="bottleReturned" type="number"/>
                  </span>
                  <span class="status">
                      {{ order.status === 'pending' ? 'P' : (order.status === 'delivered' ? 'D' : '') }}
                  </span>
                  <span class="price">{{ order.payment.perBottlePrice }}</span>
                  <span class="total-payment">{{ order.payment.totalToPaid }}</span>
              
                  <!-- <span class="actions"> -->
                      <mat-checkbox [checked]="order.status === 'delivered'" (change)="markAsDelivered($event, order)"></mat-checkbox>
                  <!-- </span> -->
              </div>
              
            </mat-list-item>
        </mat-list>
        <ng-template #noOrders>
            <p class="no-orders-msg">No pending orders</p>
        </ng-template>
    </mat-card>
  
</div>