.admin-dashboard {
  height: 90.4vh;
  display: flex;
width: 99.9vw;
  .sidenav-container {
    height: 100%;
  }

  .custom-sidebar {
    width: 250px;
    background-color: #1e1e2d;
    color: white;
    border-right: 1px solid #333;
    border-radius: 0px;
    transition: transform 0.3s ease-in-out; 

    .sidebar-header {
      display: flex;
      align-items: center;
      padding: 16px;
      font-size: 18px;
      font-weight: bold;
      border-bottom: 1px solid #444;

      .menu-icon {
        cursor: pointer;
        margin-right: 10px;
      }
    }

    .nav-item {
      display: flex;
      align-items: center;
      justify-content: flex-start; 
      gap: 10px; 
      padding: 12px 16px; 
      width: 100%;
      text-align: left;
      border-radius: 8px; 
      transition: 0.3s;
      color: white;
      
      mat-icon {
        font-size: 20px;
      }
    
      &:hover {
        background-color: #34344a;
      }
    
      &.active { 
        background-color: #161625; 
      }
    }
    
  }

  .side-list-wrap{
    display: flex;
    flex-direction: column;
  }

  .top-toolbar {
    display: flex;
    justify-content: space-between;
    background-color: #bfc8ec;
    color: black;
    height: 57px;
    padding: 0 16px;
    gap: 10px;
    .tool-title{
      color: rgb(0, 0, 0);
      justify-content: end;
    }
  }

  .spacer {
    flex:1;
  }

  .logout-button {
    color: white;
    background-color: red;
    padding: 6px 16px;
    transition: 0.3s;

    &:hover {
      background-color: darkred;
    }
  }

  .content {
    padding: 20px;
  }

  @media (max-width: 985px) {
    .custom-sidebar {
      width: 200px;
    }

    .top-toolbar {
      height: 57px;
      padding: 0 12px;
    }

    .content {
      padding: 10px;
    }

    .nav-item {
      padding: 8px;
      font-size: 14px;
    }
  }
  @media (max-width: 920px) {
    .custom-sidebar {
      width: 200px;
    }

    .top-toolbar {
      height: 57px;
      padding: 0 12px;
    }

    .content {
      padding: 10px;
    }

    .nav-item {
      padding: 8px;
      font-size: 14px;
    }
  }

  @media (max-width: 576px) {
    .custom-sidebar {
      width: 100vw;
    }

    .top-toolbar {
      height: 45px;
      padding: 0 8px;
    }

    .content {
      padding: 8px;
    }

    .nav-item {
      padding: 6px;
      font-size: 13px;
    }
  }
}
