<div class="admin-dashboard">
  <mat-sidenav-container [ngStyle]="{ 'height': isMobile || isTab ? '89.9vh' : '90.4vh' }" class="sidenav-container">

    <!-- Sidebar -->
    <mat-sidenav #sidenav [mode]="isMobile || isTab ? 'over' : 'side'" class="custom-sidebar" [(opened)]="isMenuOpen">
      <div class="sidebar-header">
        <mat-icon class="menu-icon" (click)="toggleMenuAndCloseIcon()">close</mat-icon>
        <span>Admin Panel</span>
      </div>

      <mat-nav-list>
        <div class="side-list-wrap">
          <button mat-button class="nav-item" (click)="loadComponent('orders')">
            <mat-icon>list_alt</mat-icon> Orders
          </button>
          <button mat-button class="nav-item" (click)="loadComponent('delivery')">
            <mat-icon>local_shipping</mat-icon> Delivery Staff
          </button>
          <button mat-button (click)="openDialog(dialogTemplate)"class="nav-item">
            <mat-icon>domain</mat-icon> Add Building
          </button>
          <button mat-button class="nav-item" (click)="loadComponent('customers')">
            <mat-icon>people</mat-icon> Customers
          </button>
          <button mat-button class="nav-item" (click)="loadComponent('reports')">
            <mat-icon>assessment</mat-icon> Reports
          </button>
        </div>
      </mat-nav-list>

    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content style="width: 100vw;height:90.4vh;">
      <mat-toolbar t-toolbar class="top-toolbar">
        <!-- <button mat-icon-button > -->
        <mat-icon (click)="toggleMenuAndCloseIcon()" *ngIf="!isMenuOpen"
          style="color: black;cursor: pointer;">menu</mat-icon>
        <!-- </button> -->
        <span [ngStyle]="{'font-size':isMobile || isTab ? '.95rem':'1rem'}" class="dashboard-title">Admin
          Dashboard</span>
        <span class="spacer"></span>
        <!-- <span class="spacer"></span> -->
        <!-- <button mat-button class="logout-button">Logout</button> -->
      </mat-toolbar>

      <!-- Dynamic Content -->
      <div class="content">
        <ng-container *ngIf="selectedComponent === 'orders'">
          <app-order-list></app-order-list>
        </ng-container>
        <ng-container *ngIf="selectedComponent === 'delivery'">
          <app-delivery-staff></app-delivery-staff>
        </ng-container>
        <ng-container *ngIf="selectedComponent === 'customers'">
          <app-customer-management></app-customer-management>
        </ng-container>
        <ng-container *ngIf="selectedComponent === 'reports'">
          <app-reports></app-reports>
        </ng-container>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
<!-- Dialog Template -->
<ng-template #dialogTemplate>
  <div style="display: flex;
      align-items: anchor-center;
      justify-content: space-around;">
    <h2 mat-dialog-title>Add Building</h2>
    <button mat-icon-button color="primary" (click)="addBuildingField()" style="margin-top: 10px;">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="removeBuildingField()" *ngIf="buildings.length !== 1" style="margin-top: 10px;">
      <mat-icon>remove</mat-icon>
    </button>
    
  </div>
  <mat-dialog-content>
    <form [formGroup]="buildingForm">
      <div formArrayName="buildings">
        <div *ngFor="let building of buildings.controls; let i = index" [formGroupName]="i"
          style="margin-bottom: 10px;">

          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Building Name {{ i + 1 }}</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="submitBuilding()">Add</button>
  </mat-dialog-actions>
</ng-template>