<mat-dialog-content>
    <mat-card style="background-color: transparent;border: none;box-shadow: none;" class="order-form">
      <mat-card-title>Add New Order</mat-card-title>
  
      <div class="address-wrapper">
        <mat-form-field appearance="outline">
          <mat-label>Building</mat-label>
          <mat-select
            [(ngModel)]="addressStruct.buildingName"
            (openedChange)="filterBuildings()" 
          >
            <mat-option>
              <input
                matInput
                type="text"
                placeholder="Search building..."
                [(ngModel)]="buildingFilter"
                (ngModelChange)="filterBuildings()"
                (click)="$event.stopPropagation()"
                style="width: 100%; padding: 4px;"
              />
            </mat-option>
            <mat-option *ngFor="let building of filteredBuildings" [value]="building">
              {{ building }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
      
        <mat-form-field appearance="outline">
          <mat-label>Wing</mat-label>
          <mat-select [(ngModel)]="addressStruct.wing">
            <mat-option *ngFor="let wing of wingOptions" [value]="wing">
              {{ wing }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-form-field appearance="outline">
          <mat-label>Room</mat-label>
          <input matInput placeholder="Room No." [(ngModel)]="addressStruct.roomNo">
        </mat-form-field>
      </div>

      <div class="priceSelect">
        <div class="priceSelectWrapper">
          <!-- <mat-label class="price-label">Rate</mat-label> -->
          
          <button 
            mat-raised-button 
            *ngFor="let price of prices"
            [ngClass]="{'selected': selectedPrice === price}" 
            color="primary"
            (click)="selectPrice(price)">
            {{ price }}/-
          </button>
        </div>
      </div>
      
      <div class="bottle-wrapper">
        <mat-label style="text-align: center;font-size: 20px;font-weight: 500;">Bottles Required</mat-label>
        <div matSuffix class="counter-container">
           <div (click)="decreaseBottles()" class="sign-icon">
            <mat-icon>remove</mat-icon>
           </div>
          <div class="bottle-img"><div class="bottle-circle"></div></div>
          <div  (click)="increaseBottles()" class="sign-icon">  
          <mat-icon>add</mat-icon>
        </div>
        </div>

          <span style="text-align: center;font-size: 20px;font-weight: bolder;font-weight: 500;">{{newOrder.bottlesRequired}}</span>
        
      </div>
    

    <!-- <mat-form-field appearance="outline">
      <mat-label>Urgency</mat-label>
      <mat-select [(ngModel)]="newOrder.urgencyFlag">
        <mat-option value="low">Low</mat-option>
        <mat-option value="medium">Medium</mat-option>
        <mat-option value="high">High</mat-option>
      </mat-select>
    </mat-form-field> -->

    <mat-label style="text-align: center;font-size: 20px;font-weight: 500;">Urgency</mat-label>
    <div class="Urgency-wrapper">
      <div (click)="getUrgencyFlag('low')" class="Urgency-low">Low</div>
      <div (click)="getUrgencyFlag('medium')" class="Urgency-medium">medium</div>
      <div (click)="getUrgencyFlag('high')" class="Urgency-high">high</div>
    </div>

    </mat-card>
  </mat-dialog-content>
  
  <mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary" (click)="addOrder()">Submit Order</button>
  </mat-dialog-actions>
  