<mat-dialog-content>
    <mat-card style="background-color: transparent;border: none;box-shadow: none;" class="order-form">
      <mat-card-title>Add New Order</mat-card-title>
  
    <mat-form-field appearance="outline">
      <mat-label>Delivery Address</mat-label>
      <input matInput placeholder="Building-Wing-Room" [(ngModel)]="newOrder.deliveryAddress">
    </mat-form-field>

      <div class="bottle-wrapper">
        <mat-label style="text-align: center;font-size: 20px;">Bottles Required</mat-label>
        <div matSuffix class="counter-container">
           <div (click)="decreaseBottles()" class="sign-icon">
            <mat-icon>remove</mat-icon>
           </div>
          <div class="bottle-img"><div class="bottle-circle"></div></div>
          <div  (click)="increaseBottles()" class="sign-icon">  
          <mat-icon>add</mat-icon>
        </div>
        </div>

          <span style="text-align: center;font-size: 20px;font-weight: bolder;">{{newOrder.bottlesRequired}}</span>
        
      </div>
    

    <!-- <mat-form-field appearance="outline">
      <mat-label>Urgency</mat-label>
      <mat-select [(ngModel)]="newOrder.urgencyFlag">
        <mat-option value="low">Low</mat-option>
        <mat-option value="medium">Medium</mat-option>
        <mat-option value="high">High</mat-option>
      </mat-select>
    </mat-form-field> -->

    <mat-label style="text-align: center;font-size: 20px;">Urgency</mat-label>
    <div class="Urgency-wrapper">
      <div (click)="getUrgencyFlag('low')" class="Urgency-low">Low</div>
      <div (click)="getUrgencyFlag('medium')" class="Urgency-medium">medium</div>
      <div (click)="getUrgencyFlag('high')" class="Urgency-high">high</div>
    </div>

    </mat-card>
  </mat-dialog-content>
  
  <mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary" (click)="addOrder()">Submit Order</button>
  </mat-dialog-actions>
  