<div class="dashboard-container">
    <header class="dashboard-header">
      <h1>Shivaay Water Supply</h1>
      <div class="user-info" *ngIf="!isMobile">
        <button mat-button color="warn" (click)="logout()">Logout</button>
      </div>
  
      <button mat-icon-button class="hamburger" (click)="toggleMenu()" *ngIf="isMobile">
        <mat-icon>{{ menuOpen ? 'close' : 'menu' }}</mat-icon>
      </button>
    </header>
  
    <div class="mobile-menu" *ngIf="menuOpen && isMobile">
      <button mat-button color="warn" (click)="logout()">Logout</button>
    </div>
  
    <div class="dashboard-content">
      <ng-container *ngIf="role === 'admin'; else deliveryTemplate">
        <app-admin-dashboard></app-admin-dashboard>
      </ng-container>
  
      <ng-template #deliveryTemplate>
        <app-delivery-dashboard *ngIf="role === 'delivery' && status === 'working'; else nodeliveryTemplate"></app-delivery-dashboard>
      </ng-template>
      <ng-template #nodeliveryTemplate>
        <p>You are not a part of this Firm</p>
      </ng-template>

      <p *ngIf="!role">Loading dashboard...</p>
      
    </div>
  </div>
  